# ----------------------------------
# Application
# ----------------------------------
APP_NAME=Food Delivery API
APP_VERSION=1.0.0
DEBUG=true

# ----------------------------------
# API
# ----------------------------------
API_V1_PREFIX=/api/v1

# ----------------------------------
# Database
# ----------------------------------
DATABASE_URL=

# ----------------------------------
# Authentication
# ----------------------------------
JWT_SECRET=
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# ----------------------------------
# CORS
# ----------------------------------
BACKEND_CORS_ORIGINS=http://localhost:5173