# -----------------------------
# Virtual Environment
# -----------------------------
.venv/

# -----------------------------
# Environment Variables
# -----------------------------
.env

# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# -----------------------------
# Pytest
# -----------------------------
.pytest_cache/

# -----------------------------
# MyPy
# -----------------------------
.mypy_cache/

# -----------------------------
# Ruff
# -----------------------------
.ruff_cache/

# -----------------------------
# IDE
# -----------------------------
.vscode/
.idea/

# -----------------------------
# Operating System
# -----------------------------
.DS_Store
Thumbs.db
